.redirectBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('/fundo_red.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.redirectMessage {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}